
.pokedex {
  text-align: center;
  padding: 20px;
  user-select: none;
  margin-top: 50px;
}

.pokedex-header {
  text-align: center;
  color: rgb(219, 8, 8);
  margin-top: 35px;
}

.pokemon-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.pokemon-card {
  background-color: rgb(224, 223, 223); 
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  color: white; 
  margin-right: 10px;
  width: calc(20% - 10px);
  text-align: center; 
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pokemon-img {
  width: 110px;
}