
.pokedex {
  text-align: center;
  padding: 20px;
  user-select: none;
  margin-top: 50px;
}

.pokedex-header {
  text-align: center;
  color: rgb(219, 8, 8);
  margin-top: 35px;
}

.pokemon-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

}

.pokemon-card {
  padding: 10px;
  border-radius: 10px;
  color: white; 
  width: calc(18% - 10px);
  margin: 10px;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 22px;
  color: black;
  font-size: medium;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pokemon-img-container {
  background-color: #F2F2F2;
  padding: 15px;
  border-radius: 5px;
  
}

.pokemon-img {
  width: 100%;
  height: auto;
}


@media screen and (max-width: 992px) {
  .pokemon-card {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .pokemon-card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 576px) {
  .pokemon-card {
    width: calc(100% - 20px);
  }
}