.pagination-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}


 
.pagination-button {
    color: red;
}

.page-link {
    border: none;
    color: white;
    background-color:  rgb(219, 8, 8);
    margin: 5px 5px;
    font-size: 17px;
    line-height: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.active {
    background-color:  rgb(255, 69, 69);
    color: white; 
}