/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: rgb(219, 8, 8);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 40px;
  margin-right: 10px;
}

.navbar-text {
  margin-left: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-brand {
  color: white; 
  margin-left: 70px;
  font-weight: bold;
  text-decoration: none; 
  font-size: 30px;
}


.me-auto {
  color: white;
  margin-right: 50px;
}

.nav-link {
  margin-right: 40px;
  color:white;
  font-weight: bold;
  text-decoration: none; 
  font-size: 20px;
}

