/************ Navbar Css ************/

@font-face {
  font-family: 'PokemonSolid';
  src: url('../../fonts/Pokemon\ Solid.ttf') format('truetype'); 
}

nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: rgb(219, 8, 8);
}


.navbar-logo-img {
  width: 30%;
  margin-right: 10px;
}

.navbar-text {
  font-family: 'PokemonSolid', sans-serif;
  margin-left: 5px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-brand {
  color: white; 
  margin-left: 70px;
  text-decoration: none; 
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me-auto {
  color: white;
  margin-right: 50px;
}

.nav-link {
  font-family: 'PokemonSolid', sans-serif;
  margin-right: 40px;
  color:white;
  text-decoration: none; 
  font-size: 20px;
}



@media screen and (max-width: 992px) {
  .me-auto {
    margin-right: 0px;
  }
  .navbar-brand {
    margin-left:30px;
}
}

@media screen and (max-width: 768px) {
  .me-auto {
    margin-right: 0px;
  }
  .navbar-brand {
    margin-left:30px;
}
}

@media screen and (max-width: 576px) {
  .me-auto {
    margin-right: 0px;
  }
}