.pagination-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.arrow-button {
    margin: 0 5px;
}

.page-link {
    border: none;
    color: white;
    background-color: #F4A261;
    margin-right: 5px;
    font-size: 17px;
    line-height: 1;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.active {
    background-color: #f9cca9; 
    color: white; 
}

.pagination-button {
    color: white;
}
